<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<a href="e:\sem 5\wad\flightreservationsystem_v1\flightreservationsystem_v1\views\shared\_validationscriptspartial.cshtml">e:\sem 5\wad\flightreservationsystem_v1\flightreservationsystem_v1\views\shared\_validationscriptspartial.cshtml</a>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
